/*
Reset browser default settings
*/
/*
==================
Header
==================
*/
#header{
  padding: 0.5rem 1rem;
  background-color: rgb(12, 89, 164);
}

#header a {
  color: white;
  font-size: 1.2rem;
}

#logo img{
  width: 100%;
  height: auto;
}

#logo div a > span {
  font-size: 2rem;
}


#logo div a > span:first-child{
  padding-left: 1rem;
  padding-right: 0.2rem;
}

/*
==================
Content 
==================
*/
